// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #228E5B;
$dark-green: #256146;
$dark-green-dis: #3d6151;
$dark-green-opacity: #25614683;
$teal: #4dc0b5;
$cyan: #48a2b1;
$gold: #C49A6C;
$gray-light: #E6E7E8;

$theme-colors: (
  "cyan": $cyan,
  "green": $green,
  "dark-green": $dark-green,
  "blue": $blue,
  "gray-light": $gray-light
);
