@import "../global";
@import "global";

// Variables
@import 'variables';

// components
@import 'components/form_customs';
@import 'components/buttons';
@import 'components/page_titles';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Default theme
@import '~@splidejs/splide/css';

.banner-container{
    height: 425px;
}

.main-section{
    background-image: url('/img/background-100.jpg');
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;

    padding-bottom: 3rem;
}

.navbar-stack {
    background-color: #e9f4f5;
    height: 85px;
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1.5rem;
        width: 80%;
    }
    .nav-item {
        height: 85px;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 1rem;
        .nav-link{
            display: block;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 0px;
            flex: 1;
            padding-left: 0;
            padding-right: 0;
            line-height: 1;
            color: black;
            transition: all ease-in-out .5s;

            @media (min-width: 992px) {
                font-size: 11px;
                font-weight: 500;
            }

            @media (min-width: 1200px) {
                font-size: 17px;
                font-weight: 600;
            }
        }
        &::after{
            content: ' ';
            height: 7px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: 4;
            transition: all ease-in-out .5s;
        }

        &.active{
            .nav-link{
                color: $dark-green;
            }
            &::after{
                background: $dark-green;
                opacity: 1;
            }
        }

        &:hover{
            .nav-link{
                color: $dark-green;
            }
            &::after{
                background: $dark-green;
                opacity: 1;
            }
        }
    }



    // point card
    .point-card-wrapper{
        position: relative;
        width: 250px;
        height: 95px;
        z-index: 4;
        .card-wrapper{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 1rem;
            // background-color: $dark-green;
            background-color: transparent;
            background-image: url('/img/point_board.png');
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;

            display: flex;
            flex-direction: column;
            align-items: center;

            color: $gold;
            text-align: center;

            .header{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;

                :not(:nth-child(2)){
                    background-color: white;
                    height: 1px;
                    width: 40px;
                }

                :nth-child(2){
                    margin-left: 8px;
                    margin-right: 8px;
                    font-size: 12px;
                }
            }

            .body{
                .point{
                    font-size: 35px;
                    font-weight: 500;
                    line-height: 1.4;
                }
            }
        }
    }
}

.nav-border{
    width: 100%;
    height: 6px;
    background-color: #d1d3d4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-reward{
    border-radius: 1rem;
    overflow: hidden;
    border: 0;
    // create simple box shadow css
    box-shadow: -3px 10px 1rem rgba(0, 0, 0, 0.15);

    .card-body{
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reward-panel{
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(157,196,206,1) 42%);

        height: 150px;
        width: 100%;
        position: relative;
        margin-bottom: 1.80rem;

        .reward-img{
            max-width: 200px;
            width: 100%;
            margin: 0 auto;
            position: absolute;
            bottom: -1.5rem;
            left: 0;
            right: 0;
        }

        .point-badge{
            // background-color: $dark-green;
            color: white;
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 100px;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 1rem;
            margin-right: 1rem;
            font-size: 18px;

            *{
                display: inline;
                line-height: .95;
                margin: 0;
            }
        }
    }
}

.card-faq{
    border-bottom: 1px solid black;

    .question-wrapper{
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        button{
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            background-color: $gray-700;
            text-decoration: none;
            outline: 0;
            border-width: 0;
            color: white;
            border-radius: 10rem;
            transition: all ease-in .2s;
            transform: rotate(90deg);

            &.collapsed{
                transform: rotate(0deg);
            }
        }
    }

    .card-body{
        padding-top: 0;
    }
}

.landing-deck{
    margin-top: 7rem;
    padding-bottom: 5rem;
    .deck-icon{
        width: auto;
        height: 200px;
    }
}

.step_box{
    display: flex;
    width: 300px;
    flex-direction: row;
    flex-wrap: nowrap;

    .illustration{
        width: 120px;
        height: 120px;
    }

    .description{
        flex: auto;
        p{
            margin-left: 1rem;
            font-size: 12px;
            font-weight: 500;
            margin: 0;
        }
    }
}


