@import "../global";
@import "global";

// Variables
@import 'variables';

@import 'components/page_titles';

// Select2 styles
@import '~select2/dist/css/select2.css';
@import '~select2-theme-bootstrap4/src/build.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Default Splide theme
@import '~@splidejs/splide/css';

// Toasts
@import "~toastr";

// components
@import 'components/login';
@import 'components/form_customs';
@import 'components/buttons';
@import 'components/select2';
@import 'components/activity';
@import 'components/animation';

.receipt-preview{
    display: block;
    width: 100%;
    margin: auto;

    @media (min-width: 768px) {
        width: 500px;
    }

    img{
        width: 100%;
        height: auto;
    }
}

.banner-container{
    height: auto;
    position: relative;
    .banner-shape{
        display: none;
    }

    @media (min-width: 768px) {
        // height: 425px;
        .banner-shape{
            bottom: -1px;
            left: 0;
            right: 0;
            width: 100%;
            position: absolute;
            display: block;
        }
    }

}

.main-section{
    background-image: url('/img/background-100.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 3rem;
}

.navbar-stack {
    background-color: #e9f4f5;
    height: 85px;
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1.5rem;
        width: 80%;
    }
    .nav-item {
        height: 85px;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 1rem;
        .nav-link{
            display: block;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 0px;
            flex: 1;
            padding-left: 0;
            padding-right: 0;
            line-height: 1;
            color: black;
            transition: all ease-in-out .5s;

            @media (min-width: 992px) {
                font-size: 11px;
                font-weight: 500;
            }

            @media (min-width: 1200px) {
                font-size: 17px;
                font-weight: 600;
            }
        }
        &::after{
            content: ' ';
            height: 7px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: 4;
            transition: all ease-in-out .5s;
        }

        &.active{
            .nav-link{
                color: $dark-green;
            }
            &::after{
                background: $dark-green;
                opacity: 1;
            }
        }

        &:hover{
            .nav-link{
                color: $dark-green;
            }
            &::after{
                background: $dark-green;
                opacity: 1;
            }
        }
    }



    // point card
    .point-card-wrapper{
        position: relative;
        width: 250px;
        height: 95px;
        z-index: 4;
        .card-wrapper{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 1rem;
            // background-color: $dark-green;
            background-color: transparent;
            background-image: url('/img/point_board.png');
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;

            display: flex;
            flex-direction: column;
            align-items: center;

            color: $gold;
            text-align: center;

            .header{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;

                :not(:nth-child(2)){
                    background-color: white;
                    height: 1px;
                    width: 40px;
                }

                :nth-child(2){
                    margin-left: 8px;
                    margin-right: 8px;
                    font-size: 12px;
                    color: white;
                }
            }

            .body{
                .point{
                    font-size: 35px;
                    font-weight: 500;
                    line-height: 1.4;
                }

                button{
                    line-height: 1;
                }
            }
        }
    }
}

.nav-border{
    width: 100%;
    height: 6px;
    background-color: #d1d3d4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobile-nav-item.nav-item{
    display: list-item;

    @media (min-width: 768px) {
        display: none;
    }
}

.desktop-nav-item.nav-item{
    display: none;

    @media (min-width: 768px) {
        display: list-item;
    }
}

.card-reward{
    border-radius: 1rem;
    overflow: hidden;
    border: 0;
    // create simple box shadow css
    box-shadow: -3px 10px 1rem rgba(0, 0, 0, 0.15);


    .card-body{
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reward-img-wrapper{
        width: 100%;
        padding: 10px;
        .reward-img{
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
        }
    }

    .reward-detail-wrapper{
        height: 100px;
        text-align: center;
        .card-title{
            color: $dark-green;
            font-weight: 600;
            margin-bottom: 1px;
            margin-left: auto;
            margin-right: auto;
            max-width: 95%;
        }

        .point{
            margin: 0;
            font-weight: 500;
            color: black;
        }
    }

}

.card-activity{
    border-radius: 1rem;
    overflow: hidden;
    border: 0;
    // create simple box shadow css
    box-shadow: -3px 10px 1rem rgba(0, 0, 0, 0.15);


    .card-body{
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity-img-wrapper{
        width: 100%;
        padding: 10px 10px 5px 10px;
        .activity-img{
            width: 100%;
            height: auto;
            margin-bottom: .2rem;
        }
    }

    .activity-detail-wrapper{


        height: auto;
        width: 100%;
        padding: 10px 10px 10px 10px;

        @media (min-width: 768px) {
            height: 160px;
        }
        .card-title{
            color: $dark-green;
            font-weight: 600;
            margin-bottom: 1px;
        }

        .schedule-badge{
            font-size: 14px;
            margin-bottom: 1rem;
        }

        .excerpt{
            margin: 0;
            font-weight: 500;
            color: black;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
        }
    }

}

.card-faq{
    border-bottom: 1px solid black;

    .question-wrapper{
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        button{
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            background-color: $gray-700;
            text-decoration: none;
            outline: 0;
            border-width: 0;
            color: white;
            border-radius: 10rem;
            transition: all ease-in .2s;
            transform: rotate(90deg);

            &.collapsed{
                transform: rotate(0deg);
            }
        }
    }

    .card-body{
        padding-top: 0;
    }
}

.landing-deck{
    margin-top: 0px;
    padding-bottom: 2rem;

    .deck-icon{
        width: auto;
        height: 200px;
        object-fit: contain;
    }

    @media (min-width: 768px) {
        margin-top: 7rem;
        padding-bottom: 5rem;
        .deck-icon{
            width: auto;
            height: 200px;
            object-fit: none;
        }
    }
}

.splide__arrows.dark-green{
    .splide__arrow{
        background-color: $dark-green;

        svg{
            color: white;
            fill: white;
        }
    }
}

.step_box{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        margin: 0 20px;
    }

    @media (min-width: 992px) {
        width: 300px;
        flex-direction: row;
    }

    .illustration{
        width: 120px;
        height: 120px;
    }

    .description{
        flex: auto;
        text-align: center;
        p{
            margin-left: 1rem;
            font-size: 12px;
            font-weight: 500;
            margin: 0;
            margin-left: 10px;
        }
    }
}

#footer{
    padding: 3rem 0;
    background-color: $dark-green;
    color: white;

    .socials-box{
        display: grid;
        grid-template-columns: repeat(6, 40px);
        justify-content: center;
    }
}


