input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
    position: absolute;
    background-color: $dark-green;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.375rem 0.75rem;
    border-radius: .5rem;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.greenfields-form .form-control,
.greenfields-form .form-control:focus,
.greenfields-form .form-control:-internal-autofill-selected,
.greenfields-form .form-control:-webkit-autofill{
    background-color: $dark-green !important;
    color: white !important;
    border-radius: .5rem;
    font-size: 18px;
    position: relative;
}
.greenfields-form .form-control:focus{
    border-color: $dark-green-opacity;
    box-shadow: 0 0 0 0.2rem $dark-green-opacity;
}
.greenfields-form .form-control::placeholder{
    color: white;
}
